<h1>Next Semesters</h1>

<form action="/semesters/" method="POST">
  Current Semester: <input type="text" name="current" value="Fall2015"><br/>    
  Number of next semesters: <input type="text" name="num" value="1"><br/> 
  <input type="submit">
</form>

<br/>
<a href="/about/">About this app</a>
